{% extends 'app_loyalty/base.html' %}
{% load static %}

{% block title %}
  {{title}} | 
{% endblock %}

{% block content %}
<div  class="container password-change__container">
  <h1  class="title">Смена пароля</h1>
  <div  class="form">
    <form  method="post">
    {% csrf_token %}
      {% for p in form %}
      <p><label for="{{ p.id_for_label }}">{{ p.label }}</label>{{ p }}</p>
      <div class="form-error">{{ p.errors }}</div>
      {% endfor %}
      <button  type="submit"  class="btn password-change__btn">Сохранить пароль</button>
      <button class="btn password-change__btn"><a href="{% url 'profile' user.pk %}">Назад</a></button>
    </form>
  </div>
</div>
{% endblock %}