{% extends 'app_loyalty/base.html' %}
{% load static %}

{% block title %}
  {{title}} | 
{% endblock %}

{% block content %}
<section class="about">
  <div class="container about__container">
    <h2 class="title about__title">О проекте</h2>
    <p>Здесь будет информация о проекте.</p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque enim reprehenderit laboriosam harum quo amet cupiditate a autem molestiae tempore expedita corporis quaerat atque, praesentium minus hic eligendi veniam?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum et veniam similique. Sequi, blanditiis. Sint distinctio quasi eos voluptates earum laboriosam sunt facere, suscipit harum! Assumenda alias officia ea quia? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis nostrum, iure dolorem quasi distinctio ad magnam voluptatum, in inventore asperiores odit! Debitis praesentium pariatur quaerat vel aliquid, maxime soluta fuga?</p>
  </div>
</section>
{% endblock %}